.App{
  background-image: url(./Images/violet1.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  padding-top: 50px;
}
.container{
  background-image: url(./Images/violet2.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
  width: 1000px;
  padding: 50px;
  border-radius: 5px;
  box-shadow: 0px 0px 2px 2px rgb(237, 237, 237);
  margin-top: 0px;
}
.quote{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(243, 243, 243);
  height: auto;
  width: 550px;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0px 0px 1px 1px rgb(149, 147, 147);
  margin-left: 26px;
}
.input{
  display: flex;
  flex-direction: column;
  margin: 25px;
  width: 550px;
}
.button{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.form{
  display: flex;
  flex-direction: row;
}
.result{
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-top: 30px;
}
.text{
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  color: white;
  text-align: justify;
  margin-left: 50px;
  font-size: 20px;
  /* color: #38222f; */
}
.quote2{
  display: flex;
  flex-direction: column;
  align-items: end;
}
span{
  font-size: 35px;
  margin-left: 9px;
}